
@{
    ViewBag.Title = "AboutMe";
}

<h1>Michael Combrink</h1>
<p>About me</p>

<div class="row">
    <div class="col-lg-6">
        <p>My name is Michael. I was born in Pretoria and I enjoy gaming, sports and fiction movies. I love working with and on computers.</p>
    </div>
    <div class="col-lg-6">
        <img src="~/Content/PorfilePic/IMG-20201105-WA0004.jpg" style= "width:350" height="350" />
    </div>
</div>

